.student {
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 0.5rem 1rem;
  h3 {
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }
  p,
  li {
    font-weight: 400;
    font-size: 14px;
    color: #55595e;
    margin-left: 1rem;
    line-height: 18px;
  }

  .profile {
    margin-right: 1rem;
    .profile-pic {
      width: 80px;
      height: 80px;
      border: 1px solid #ccc;
      border-radius: 50px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      overflow: hidden;
      img {
        width: 65px;
        height: 65px;
      }
    }
  }

  .student-body {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    ul {
      list-style: none;
      margin-top: 1rem;
      li {
        display: flex;
        span {
          flex: 100px;
        }
      }
    }
    .tag-container {
      margin: 1rem;
      & > div {
        display: flex;
        margin: 0.5rem 0;
      }
      .tag {
        font-weight: 400;
        font-size: 14px;
        color: #55595e;
        background-color: #ccc;
        border-radius: 3px;
        padding: 6px 10px;
        margin: 0.5rem;
      }
    }
  }
}
