* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}

input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  font-weight: 300;
  font-size: 16px;
  padding: 4px;
  &::placeholder {
    color: #ccc;
  }
}

button {
  border: 1px solid #a8a5a5;
  font-weight: 300;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 8px;
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  .students {
    width: 50%;
    border-radius: 0.5rem;
    background-color: #fff;
    overflow-y: auto;
    scroll-behavior: smooth;
    position: relative;
    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: #a8a5a5; /* or add it to the track */
    }

    /* Add a thumb */
    &::-webkit-scrollbar-thumb {
      background: #55595e;
    }
    .nav {
      width: 49%;
      position: fixed;
      z-index: 1;
      border-radius: 0.5rem;
      background-color: #fff;
    }
    .student-list {
      margin-top: 7rem;
    }
    .search-container {
      padding: 1rem 5px;

      .search {
        width: 100%;
      }
    }
  }
}
